<div class= "about">
	<h2>About</h2>
<div>

I'm currently taking a break from tech and working in public policy. In my most recent role, I led a team for 4 designers at SingleStore as Director, Head of UX. XYZ testing testing testing.

I started my career in product design because of my interest in Cognitive Science; I loved the interaction between the behavioral research and analytics and the technical applications of the field. In my career, I’ve worked at multiple growth-stage startups, as an early design member, setting the stage for the design culture. My specialty has been bringing a pragmatic execution to complex problem spaces, including databases, risk management, and financial investment.

Work keeps me engaged when I have flexibility to zoom in and out, working on product and process. I enjoy defining high-level product vision and strategy as well as taking a magnifying glass to the finer details of what we’ve shipped. I've found it is important to me to define processes and explore ways to improve team workflow where I can. I believe product design needs to work well with all departments and I love to be in an environment where I can embed cross functionally.
</div>
</div>	