<!doctype html>
	<div class = "heading">
		<h1> Karen Ma</h1>
		<h4>end-to-end product generalist</h4>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 about">
			<p>{{about}} <br/><br/> To chat, email me at <b>karenma333@gmail.com</b> </p>
			<a href="./public/resumeKarenMa.pdf" target="_blank" class="link read_more">View My Resume</a> 
			<div class="half_photo">
				<img src="./public/images/half.JPG" alt="Photo of Karen">
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			{{#each projBlurbs}}
			<div class = "projLayout">
				<a href="{{id}}.html" >
					<div class="projBlurbs">
						<h3>{{title}}</h3>
						<p>{{description}}</p>
						<p class = "link read_more"> Read Case Study</p>
					</div>
				</a >
			</div>
			{{/each}}
		</div>
	</div>



