<!doctype html>
	<div>
		<h1> KAREN MA</h1>
	</div>
	<div class="row">
		<div class="col-lg-5 about">
			<p>About content hereeee</p>
			<div class="half_photo">
				<img src="./public/images/half.png">
			</div>
		</div>
		<div class="col-lg-7">
			{{#each projBlurbs}}
			<div>
				<a href="{{id}}.html" >
					<div>
						<h3>{{title}}</h3>
						<h5> UI/QUALITATIVE/BLAH/BLAH</h5>
						<p>{{description}}</p>
						<p class = "link read_more">Read More -></p>
					</div>
				</a >
			</div>
			{{/each}}
		</div>
	</div>


