<!doctype html>
	<div>
	<a href="javascript:history.back()" class="link"><h3><- BACK</h3></a>
	</div>
	<div class="proj_title">
		<h1>{{project}}</h1>
		<div class="proj_details">
			<h5>ROLE: DESIGNER TIME FRAME: 4 WEEKS</h5>
			<h5>ROLE: DESIGNER TIME FRAME: 4 WEEKS</h5>
		</div>
	</div>
	<div class="background full_photo">
		<img src="./public/images/{{image}}">
	</div>
	<h4>design process</h4>
	<div class="row">
		<div class="col-lg-5">	
			<h3> THE SOLUTION </h3>
		</div>
		<div class="col-lg-7">
			<p>paragraph of content here In reviewing the product line I was working on, enrollment rates were not as high as anticipated. 
Upon investigation:
- Looking at the existing web analytics, drop off rates during part of the enrollment flow were up to 60%
- When asking customer feedback, we also learned that users were discouraged because they did not how far along the flow they were. 
- Sometimes, issues with user flow. leading to users feeling overwhelmed by the number of steps. Feeling like there was no payoff in sight.
</p>
		</div>
	</div>

