<!doctype html>

<div class = "col-lg-8">
	{{#each project}}
	<div class="project">
		<div class= "projBlurbs">
		<h3>{{Title}}</h3>
		<p>{{Subtitle}}</p>
		<button onclick="myFunction()">Read More</button>

		</div>
		
	</div>
	{{/each}}
</div>	