<!doctype html>
<html lang="en">
<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102079523-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-102079523-1');
	</script>

	<title>Karen Ma - Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="./public/css/portfolio.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400&family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
       
</head>
<body>
	<main>
			{{>(lookup . 'template')}}
			<div class="homeContent">
				<div class = "container ">
					<div class = "row ">
						<div class = "col-lg-4">
							<h2>Karen Ma</h2>							
							<p>Senior Product Designer @ SingleStore — As a designer, I like to discuss product strategy and product vision, define new guidelines for design systems, and grow design culture for a smoother more cohesive product development process. At SingleStore, I work on growth initiatives, security and developer experience.
							</p>
							<p>Outside of design, I dabble in all sorts of crafts. Most recently, I've been taking workshops in glass flameworking and lost wax casting metals.
							</p>
							<h3>Links</h3>
							<ul>
								<li><a href = "">  karenma333@gmail.com </a></li>
								<li><a href = "https://www.linkedin.com/in/karenma333" target ="_blank"> Resume</a></li>
								<li><a href = "https://www.linkedin.com/in/karenma333" target ="_blank"> LinkedIn</a></li>
								<li><a href ="
	https://www.get-merit.com/p/karen-ma" target = "_blank"> Merit </a></li>
							</ul>
							<h3>What's on my mind - reading list</h3>
							<ul>
								<li><a href = ""> Invisible Child</a></li>
								<li><a href = "https://www.linkedin.com/in/karenma333" target ="_blank"> Another book </a></li>
								<li><a href = "https://www.linkedin.com/in/karenma333" target ="_blank"> LinkedIn</a></li>
							</ul>
						</div>
						<div class = "col-lg-8">
							{{#each project}}
							<div class="project">
								<div>
								<h2>{{Title}}</h2>
								<h3>{{Subtitle}}</h3>
								</div>
								<div class= "details">
									<ul>
										{{#each details}}
										<li>{{this}} </li>							
										{{/each}}
									</ul>
									<button>Read More</button>
								</div>
								
							</div>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
	</main>
	<footer>
		<div class="footerwrap">
			<div class="footer">
					<a href = "">  karenma333@gmail.com </a> |
					<a href = "https://www.linkedin.com/in/karenma333" target ="_blank"> LinkedIn</a> |
					<a href = "https://www.github.com/karenma333" target ="_blank"> Github</a></p>

					<p>Website Design and Content © 2023 Karen Ma</p>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script src="./public/js/jquery.waypoints.js"></script>
	<script src="./public/js/shortcuts/sticky.js"></script>

	<script src="./public/js/portfolio.js"></script>
</body>
</html>
