/*Generic Styles*/
body{
  font-family: Raleway;
  background-color:#FFFFFB;
  color:#303342;
  margin-top: 6em;
}
p{
  font-family: Lora;
  font-size: 16px;
  line-height: 24px;
}
h1{
  font-size: 36px;
  color:#667962;
}
h2{
  font-size:24px;
  font-variant:small-caps;
}
h3{
  font-size: 24px;
  font-variant:small-caps;
}
h4{
  font-size:16;
  font-weight: 550;
  font-variant: small-caps;
}
h5{
  font-size:14px;
  font-variant:small-caps;
}
a{
  color:inherit;
}
.link{
  color:#B36348;
}
.secondary{
  background-color:#667962;
}
.background{
  background-color:#C2D2DB;
}
/*Footer*/
.footerwrap{

  width:100%;
}
.footer a,span{
  color:white;
}
.footer{
  margin-top: 6em;
  display:flex;
  justify-content: space-evenly;
  padding-top:25px;
  padding-bottom:25px;
}
/*Photos*/
.half_photo{
  margin-top: 3em;
  border: 1px solid #303342;
  padding:30px;
  border-radius:2px;
}
.half_photo img{
  border: 1px solid #303342;
  border-radius:2px;
  max-width: 100%;
  height:auto;
}
/*Home Page*/
.read_more{
  text-decoration: underline;
}
.about{
  padding-right:65px;
}