/* Style the navbar */
#nav {
  overflow: hidden;
  background-color: #f5f5f5;
}
/* Navbar links */
#nav #menu a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: Lora;
}
#nav #menu a:hover{
  color:#739581;
}

/* Page content */
.content {
  width:70%;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navshadow{
  box-shadow: 0px 1px 15px #dde5da;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

#menu{
	float:right;
}
.logo{
  float:left;
}
body{
  font-family:Open Sans;
  background-color: #f5f5f5;
  font-size: 18px;
}
body .content{
	width: 70%;
	margin-left:auto;
	margin-right: auto;
}

.footer{
	height:6em;
  background-color: #707070;
  margin-top: 20px;
}

/*HOME PAGE*/
#name{
  margin:0 auto;
}
#name h1{
  font-family: Lora;
  font-size: 4em;
  text-align: center;
}
.subtitle{
  text-align:center;
  overflow:hidden;
}

#skills{
  display:flex;
  flex-direction: row;
}
.skill{
  justify-content: space-around;
}
.skill h2{
  font-family:Lora;
  font-size:2em;
}
.skill #research{
  background-color:#E26E6E;
}
.skill #design{
  background-color:#E2B4AD;
}
.skill #deliver{
  background-color:#FCDED6;
}
ul{
  list-style-type: none;
  padding:0px;
}

.slideshow{
  display:flex;
}
.project{
  background-color:white;
  margin-bottom: 20px;
  border: 1px solid #dde5da;
  border-radius: 5px;
  height: 450px;
  display:flex;
}
.project .row{
  margin: 0 0 0 0 !important;
}
.project .projContent{
  height:326px;
  /*Change later to set a minimum based on text sizing divs*/
  display:flex;
  align-items: center;
}
.projContent span{
  font-weight: bold;
}
.project a{
  text-decoration: none;
  color:#000;
  width:100%;
}
.project a:hover{
  box-shadow: 0px 1px 15px #dde5da;
}
.project a:hover .projButton{
  background-color:#739581;
  color:white;
}
.project h3{
  font-family:Lora;
}
.projButton{
  align-items: center;
  text-align: center;
  padding:0px 0px 0px 0px;
  width:100%;
  height:68px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.projButton p{
  line-height: 68px;
}
.image{
  height:100%;
  display:flex;
  align-items: center;
}
img{
  object-fit: contain;
  max-height:100%;
  max-width: 100%;
}
.subtitle h3{
  font-family:Lora;
  margin: 0px 0px 10px;
}
#about img{
  max-width: 50%;
}
.section img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.section p,
.projText p{
  max-width:700px;
  min-width: 350px;
  margin:0 auto;
}
.section{
  margin-bottom: 10px;
  margin-top: 20px;
}
.section ul{
  max-width:700px;
  min-width: 350px;
  margin:0 auto;
}

.projSummary{
  display:flex;
  align-items: center;
}
.projSummary span{
  font-family: Lora;
}