/* Style the navbar */
#nav {
  overflow: hidden;
  background-color:#F2F2F2;
}
/* Navbar links */
#nav #menu a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
  width:70%;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navshadow{
  box-shadow: 0px 1px 10px #999;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

#menu{
	float:right;
}
.logo{
  float:left;
  color:black;
}
body{
  font-family:Open Sans;
  background-color:#F2F2F2 ;
}
body .content{
	width: 70%;
	margin-left:auto;
	margin-right: auto;
}

.footer{
	height:6em;
  background-color: #707070;
}

/*HOME PAGE*/
#name{
  margin:0 auto;
  display:flex;
}
#name h1{
  font-family: Lora;
  font-size: 4em;
}
.subtitle{
  display:flex;
  flex-basis: 100%;
  align-items: center;

}
.subtitle::after{
  content: "";
  flex-grow: 1;
  background: black;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 10px 10px;
}
#skills{
  display:flex;
  flex-direction: row;
}
.skill{
  justify-content: space-around;
}
.skill h2{
  font-family:Lora;
  font-size:2em;
}
.skill ul{
  padding:0px;
}
.skill #research{
  background-color:#E26E6E;
}
.skill #design{
  background-color:#E2B4AD;
}
.skill #deliver{
  background-color:#FCDED6;
}
.skill ul{
  list-style-type: none;
}

.slideshow{
  display:flex;
}
.project{
  background-color:white;
  margin-bottom: 20px;
}
.project a{
  display:flex;
  text-decoration: none;
  color:#000;

}
.project a:hover{
  box-shadow: 0px 1px 15px #999;
}
.project a:hover .projButton{
  background-color:#739581;
  color:white;
}
.project h3{
  font-family:Lora;
}
.project img{
  /*max-width: 50%;
  height: auto;*/
  object-fit: contain;
  width:100%;

}
.projButton{
  align-items: center;
  text-align: center;
  padding:0px 0px 0px 0px;
  width:100%;

}
.image{
  max-width: 50%;
}
.subtitle h3{
  font-family:Lora;
  margin: 0px 10px 10px;
}
#about img{
  max-width: 50%;
}