
html{
  min-height:100%;
  margin:0px;
}
body {
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:flex;
  min-height:100vh;
  flex-direction:column;
  margin:0px;
}
main{
  flex: 1 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

a {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;

}
a:hover {
  color: #5f6b77;
}
.btn,
a.btn {
  font-family: 'Montserrat', arial, sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}
.left{
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 45%;
}
/*Intro Home*/
.intro{
  /*background: linear-gradient(rgba(92,67,127,1), rgba(169,122,235,0.6));*/
  background-color:rgba(92,67,127,1);
  position: absolute;
  top:0px;
  width:100%;
}
.profile{
  max-width: 25%;
  display:block;
  margin: auto;
  margin-top: 80px;
}
.title{
  text-align: left;
}
/*HEADER CSS*/
.header{
  width:70%;
  margin: auto;
}
.header .title {
  margin-bottom: 5px;
  margin-top: 25px;
}
.header .desc {
  margin-top: 0;
  margin-bottom: 15px;
}
.heading{
  text-align:left;
  clear:both;
  display: inline-block;
}

.row{
  margin: 0 auto;
  width:70%;
}
/*Projects Description*/

.info{
  height:425px;
}
.info:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.info .card-image .img{
  max-height: 217px;
  max-width: 50%;
  object-fit: contain;
}
.card-image + .card-content{
  max-height: 40%;
}
/*projects page*/
.logo{
  height:4rem;
  display:block;
  margin:0 auto;
  float:left;
 }
.card-action a{
  color:#26A69A;
 }
/*home*/
.homecon{
  margin: 0 auto;

}

.tabs .tab a{
  color:#26A69A !important;
  opacity:0.5;
}
.tabs .tab a.active{
  opacity: 1;
}
.tabs .indicator{
  color:#26A69A;
  background-color: #26A69A !important; 
}
i{
  padding-top: 2px;
}
.home{
  transition: 0s !important;
  box-shadow: none !important;
}
.home .card-content #featured .card-action a{
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;

}
/*Resume/About Me page*/
.spacer{
  height:10px;
}
.resume{
  width:100%;
  height:100%;
  margin-top: 7px;
  padding:1px;
   border:1px solid #021a40;
}

/* ======= Sections======= */
.section{
  width: 70%;
  margin:0 auto;
}
.heading {
  margin-top: 0;
  font-size: 24px !important;
}
.card-panel{
  margin: auto !important;
  }
.mobilepic{
  height:667px !important;
  width:375px !important;
  z-index: 1;
}
.desktoppic{
  height:800px !important;
  width: 70% !important;
  z-index:1;
}
.slider{
  margin: 0 auto;
  margin-bottom: 10px;
}

iframe{
  width:70%;
  height:600px;
  margin: 0 auto;
  display:block;

}
.slider .slides li img{
  background-size:contain !important;
  background-repeat: no-repeat;
  background-color:white;
}
.slider .indicators{
  z-index:2;
}
.research{
  width:100%;
}

 /*Footer*/
 footer{
  background-color: #F79768;
  overflow:auto;
  color:#fff;
 }
footer ul{
  margin-top: 0px;
}
 footer li a:hover{
  background-color:rgba(0,0,0,0.1);
 }
 .contact{
  text-align: center;
  font-size: 2rem;
 }
 .contact i{
  font-size: 2rem;

 }
 .footmenu{
  float:left;
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footinner{
  float:left;
  margin-right: 15px;
}
footer a{
  color:#fff;
  text-decoration: underline;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header {
    text-align: center;
    width: 100%;
  }
  .header .profile-image {
    float: none !important;
    margin: 0 auto;
    width:100px;
    height: 100px;
    position: center;
  }
  .header .profile-content {
    float: none !important;
    text-align: center;
  }
  .project-image {
    margin-bottom: 15px;
  }
  .section{
    width:100%;
  }
  iframe{
    width:auto;
    height:auto;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */
@media (max-width: 1151px) {
  .container {
    width: 1360px;
  }
  .chip{
    visibility: hidden;
  }


}
@media (max-width: 552px) {
  .container {
    width: 1360px;
  }
  .chip{
    visibility: visible;
  }


}
/*1280 x 720*/
@media (min-width: 1400px) {
  .container {
    width: 1360px;
  }

}
