/*Navigational Menu CSS*/
nav{
	z-index: 2;
	width: 100%;

}
nav ul{
	list-style-type: none;
}
nav ul li{
		display: inline-block;
}
nav ul li.active {
  background-color: rgba(0, 0, 0, 0.1);
}
nav ul a{
	text-decoration: none;
}
nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/*Header of Home page*/
.header{
	width:100%;
}
.header img{
	display:block;
	margin: 0 auto;
	border-radius:50%;
}
/*project sort*/
.projectsort{
	margin:0 auto;
	display:block;
}
 /*Footer*/
 footer{
  background-color: white;

  overflow:auto;
  color:black;
 }
 .contact{
  text-align: center;
  font-size: 2rem;
 }
 .contact i{
  font-size: 2rem;

 }

footer a{
  color:black;
  text-decoration: underline;
}
/*Project Images*/
.card-image{
	position: relative;
	text-align:center;
	color:black;
}
.bottom-left{
	position:absolute;
	bottom: 9px;
	left:16px;
}