
html{
  min-height:100%;
  margin:0px;
}
body {
  font-family: 'Open Sans', sans-serif;  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:flex;
  min-height:100vh;
  flex-direction:column;
}
main{
  flex: 1 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
a:hover {
  color: #A2586D;
}
.btn,
a.btn {
  font-family: 'Montserrat', arial, sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}
/*nav bar*/
.right{
    color: #5f6b77;
}
.right .active{
  color:#A2586D;
}
/*Intro Home*/
.intro{
  width:100%;
  text-align: center;
  align-items:center;
}
.intro p{
    color:#A2586D !important;

}
.profile{
  max-width: 25%;
  display:block;
  margin: auto;
  margin-top: 20px;
}
.title{
  text-align: center;
  width:100%;
}
/*HEADER CSS*/
.heading{
  text-align: left;
  display: inline-block;
  margin: 0 auto;
}
#projects{
  background-color: white;
  padding-top: 20px;
  text-align: center;
}

/*Projects Description*/
.card-image{
  position: relative;
  text-align:center;
  color:black;
}
.card-image-top{
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  width: 100%;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card span{
  color: #A2586D;
  position: absolute;
  bottom: 9px;
  left:16px;
}
.card-image-top{
  object-fit:contain;
}
/*FilterDivs*/
.filterDiv {
    text-align: center;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}
/* ======= Sections======= */
.heading {
  margin-top: 0;
  font-size: 24px !important;
  padding: 10px;
  box-shadow: 0 !important;
}
.card-panel{
  margin: auto !important;
  }
.mobilepic{
  height:667px !important;
  width:375px !important;
  z-index: 1;
}
.desktoppic{
  height:800px !important;
  width: 70% !important;
  z-index:1;
}
.slider{
  margin: 0 auto;
  margin-bottom: 10px;
}

iframe{
  width:70%;
  height:600px;
  margin: 0 auto;
  display:block;

}
.slider .slides li img{
  background-size:contain !important;
  background-repeat: no-repeat;
  background-color:white;
}
.slider .indicators{
  z-index:2;
}
.research{
  width:100%;
}

 /*Footer*/
 footer{
  /*(background-color:rgba(92,67,127,1);*/
  background-color: white;
  overflow:auto;
  color: #A2586D;
 }
 footer li a:hover{
  background-color:rgba(0,0,0,0.1);
 }
 .contact{
  text-align: center;
  font-size: 1.5rem;
 }


footer a{
  text-decoration: underline;
  color: #A2586D;

}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header {
    text-align: center;
    width: 100%;
  }
  .header .profile-image {
    float: none !important;
    margin: 0 auto;
    width:100px;
    height: 100px;
    position: center;
  }
  .header .profile-content {
    float: none !important;
    text-align: center;
  }
  .project-image {
    margin-bottom: 15px;
  }
  .section{
    width:100%;
  }
  iframe{
    width:auto;
    height:auto;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */
@media (max-width: 1151px) {
  .container {
    width: 1360px;
  }

}
@media (max-width: 552px) {
  .container {
    width: 1360px;
  }

}
/*1280 x 720*/
@media (min-width: 1400px) {
  .container {
    width: 1360px;
  }

}
