<div class="content">
	<div class = "title">
	<p>made it to project</p>
	</div>
	<div class = "projSummary">
	</div>
	<div class= "section">
	</div>
	<div class = "slideshow">
		{{#each projBlurbs}}
		<div class="project">
			<a href="">
				<!--<img src="images/{{image}}">-->
				<img src={{image}}>
				<div>
					<h4>{{summary}}</h4>
				</div>
			</a>
		</div>
		{{/each}}
	</div>
	<div class = "about me">
	</div>
</div>
